@typeparam TData
<div class="draggable-grid-container @_dragState.DragCursorClass"
     style="@GetThemeStyles()"
     @onkeydown="HandleKeyDown"
     @onmouseup="HandleMouseUp"
     @onmouseleave="CleanUpDrag"
     tabindex="0">

    <div class="draggable-grid"
         style="@GetGridStyle()"
         @onmousemove="HandleMouseMove">

        <!-- Área de drop cuando se está arrastrando -->
        @if (_dragState.IsDragging && _dragState.DraggingItem != null && _dragState.FinalDropTarget.HasValue)
        {
            var target = _dragState.FinalDropTarget.Value;
            <div class="drop-area-highlight"
                 style="grid-column: @target.Col / span @_dragState.DraggingItem.ColumnSpan;
                            grid-row: @target.Row / span @_dragState.DraggingItem.RowSpan;
                            pointer-events: none;">
            </div>
        }

        <!-- Elementos del grid -->
        @foreach (var item in Layout.Items.OrderBy(i => i.Row).ThenBy(i => i.Column))
        {
            <div class="grid-item"
                 style="@GetItemStyle(item)"
                 @onmousedown="@((e) => StartMouseDrag(e, item))"
                 @onclick:preventDefault
                 @onclick="@(() => SelectItem(item))">

                @if (item.IsDataOfType<TData>())
                {
                    @ChildContent(item.GetData<TData>())
                }
            </div>
        }
    </div>
</div>

